@import './colors';
@import './mixins';
@import './fonts';


.header{
    position: sticky;
    top:0;

    nav{
        @include flex-center;
        justify-content: space-between;
        height: 4rem;
        background-color: $main-color;

        .ul-items{
            list-style: none;


            .li-items{
                a{
                    margin: 0 1rem;
                    font-size: 13px;
                    text-decoration: none;
                    color: $secondary-color;
            }
            .orange{
                color: $orange-color;
            }
        }
        }
        .logo{
            text-transform: uppercase;
            font-family: $font-gideon;
        }
        .right{
            @include flex-center;


            .search{
                @include flex-center;
                color: $gray-color;


                .search-icon{
                    font-size: 15px;
                }
    
            }
            .sch-btn{
                background: none;
                border: none;
                cursor: pointer;
            }
        }
    
        .right-buttons{
            @include flex-center;
            margin-right: 1rem;

            button{
                margin: 0 0.8rem;
                background: none;
                border: none;
                cursor: pointer;

                a{
                    color: $gray-color;
                    text-decoration: none;
                }
            }
            .basket{
                color: $basket-color
            }
        }

    }
}