@import './colors';

.header{
    position: sticky;
    top:0;

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4rem;
        background-color: $main-color;
    }
}