@import './colors';
@import './mixins';


.header{
    position: sticky;
    top:0;

    nav{
        @include flex-center;
        justify-content: space-between;
        height: 4rem;
        background-color: $main-color;

        .ul-items{
            list-style: none;


            .li-items{
                a{
                    margin: 0 1rem;
                    font-size: 13px;
                    text-decoration: none;

                    .orange{
                        color: $orange-color
                    }
                }
            }
        }

    }
}