@import './colors';

.main-section{
    background: linear-gradient(to right bottom, rgba(255,104,18,0.587), #fc60455d), url("../assets/main.jpg");
    height: 80vh;
    background-size: cover;
    overflow: hidden;

    .contents{
        margin: 12rem;
        text-align: center;

        h1{
            color: $main-color;
            font-size: 4rem;
            text-shadow: 3px 3px $main-color;
        }
        button{
            
        }
        button:hover{
            transform: scale(120%);
            transition: 1s ease-in-out;
            color: $secondary-color;
            background-color: $main-color;
        }
    }
}